<div class="container">
  <h1>Dashboard</h1>

  <ul>
    <% @climbing_routes.each do |climbing_route| %>
      <li><%= climbing_route.id %> <%= link_to climbing_route.name, admin_climbing_route_path(climbing_route) %></li>
      <li><%= link_to 'Edit', admin_edit_climbing_route_path(climbing_route) %></li>
    <% end %>
  </ul>
</div>
